variables:
  generatedFile: ".gitlab-ci-generated.yml"

# Rules to avoid conflicts between push events when merge requests exist on the same branch
# See: https://docs.gitlab.com/ee/ci/yaml/workflow.html#switch-between-branch-pipelines-and-merge-request-pipelines
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG
    - if: $CI_PIPELINE_SOURCE == "web" # allow to start a pipeline on a specific branch via the web interface of GitLab

default:
  tags:
    - "aws"
    - "docker"
    - "ekino"
    - "france"

stages:
  - prepare
  - run

generate:
  image: registry.ekino.com/iperia/docker-build/ci-kotlin:2024.01.08
  stage: prepare
  script:
    - |
      set -e
      ./.gitlab-ci.main.kts > ${generatedFile}
  artifacts:
    paths:
      - ${generatedFile}

start:
  stage: run
  when: on_success
  needs:
    - generate
  trigger:
    include:
      - artifact: ${generatedFile}
        job: generate
    strategy: depend