stages:
  - build
  - test
  - publish

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

before_script:
  - chmod +x ./gradlew

build:
  stage: build
  image: openjdk:21-jdk-slim
  script:
    - ./gradlew build -x test
  artifacts:
    paths:
      - "*/build/libs/"
    expire_in: 1 hour

test:
  stage: test
  image: openjdk:21-jdk-slim
  script:
    - ./gradlew test
  artifacts:
    when: always
    reports:
      junit:
        - "*/build/test-results/test/TEST-*.xml"
    paths:
      - "*/build/test-results/"
      - "*/build/reports/"
    expire_in: 1 week

publish:
  stage: publish
  image: openjdk:21-jdk-slim
  script:
    - ./gradlew publish
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG
  artifacts:
    paths:
      - "*/build/libs/"
    expire_in: 1 week

publish-snapshot:
  stage: publish
  image: openjdk:21-jdk-slim
  script:
    - ./gradlew publish
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
  allow_failure: true